.tile {
    display: grid;
    place-content: center;
    width: 70px;
    height: 70px;
}

.tile .chess-piece {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65px;
}

.tile .chess-piece:hover {
    cursor: grab
}

.tile .chess-piece:active {
    cursor: grabbing
}

.black-tile {
    background-color: #805e42
}

.white-tile {
    background-color: #c4aa89
}

.tile .img {
    width: 70px;
}